## Uage : pip  install -r requirements_setup.txt


## To install opencv i.e cv2 image processing library, follow instructions in the evernote or at
## https://gist.github.com/dynamicguy/3d1fce8dae65e765f7c4
##
## MatPlotLib
## sudo apt-get install python-matplotlib
## sudo apt-get install libhdf5-dev

# sudo apt-get install python-pip


# if python-dev install requested sudo apt-get install python-dev
# For ubuntu 15.04 :: sudo pip install fails
#  sudo apt-get install python-numpy
#  sudo apt-get install python-scipy

numpy
scipy
sklearn
scipy
h5py
keras
matplotlib



